// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tournamentCJGA {
	color: orange;

}

.tournamentGO {
	color: green;
}

.tournamentGQ {
	color: blue;
}

.tournamentFL {
  color: red;
}
.tournamentGC {
  color: red;
}

.tournamentTO {
  color: grey;
}


.tournamentOVGA {
  color: purple;
}

.tournamentPJGT {
  color: brown;
}
.tournamentROGC {
  color: #405d27;
}

.tournamentNO {
  color: lightgrey;
  text-decoration: line-through;
}

.tournamentYES {
  background-color: yellow;
}
.notes {
  background-color: black;
  color: white;
}
.maman {
  background-color: darkred;
  color: white;
}
.papa {
  background-color: darkblue;
  color: white;
  margin: 0;
  text-align: center;
}

.child {
  background-color: orange;
  color: white;
  margin: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.simple-calendar {
  .day {
  	text-align: left;

  }


  .day-names {
  	text-align: center;
  }
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
  	color: red;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {  }

  .has-events {}
}

.calendar-title {
	color:darkgreen;
}

.calendar-heading {
	text-align: center;
	font-size: 2em;
}